body {
  background-image: url('https://previews.123rf.com/images/mvelishchuk/mvelishchuk2105/mvelishchuk210500916/169496327-tecnolog%C3%ADa-de-hardware-de-reparaci%C3%B3n-de-computadoras-servicio-t%C3%A9cnico-de-pc-electr%C3%B3nico-del.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

  .container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    /* border: 2px solid red; */
    font-family: arial;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;
  }
  h2 {
    text-align: center;
  }
  .container div {
    text-align: center;
  }
  input {
    width: 250px;
    padding: 5px;
  }
  
  .button {
    /* Estilos de botón */
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
  }
  
  /* Estilos al pasar el cursor sobre el botón */
  .button:hover {
    background-color: #e0e0e0;
  }

/* Estilos del formulario */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
}

/* Estilos para los labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para los inputs */
input[type="text"] {
  width: calc(100% - 10px); /* Ajusta el ancho del input */
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Estilos para el botón Crear */
#crud-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#crud-form button:hover {
  background-color: #0056b3;
}